/* ----------------------------------
    COLORS
   ------------------------------ */
// main colors
$mainClr: #00238E;
$secondaryClr: #03DEB0;
$tertiaryClr:#F0EA64;
$lightGrey: #F5F5F5;
$grey:#E0E0E0;
$validation:#f11212;


// backgrounds
$linkClr: $secondaryClr;
$buttonBG: $mainClr;
$highlightBG: $tertiaryClr;
$lightBG:$lightGrey;
$overlay:#111;

$borderClr:#D9D9D9;

//fonts
$mainTextClr: #5f5f5f;
$secondTextClr: #DADADA;
$textHighlighted:#9E9E9E;
$mainTitleClr:#000;
$subTitleClr:#222222;
$linkClr:$secondaryClr;
$iconClr:$secondaryClr;

//forms
$inputBorderClr: $grey;
$inputBG: #fff;
$inputFontClr: $mainTextClr;
$disabledBG: $lightBG;
$disabledFontClr: #8D8989;




//--------------------------------------
// spacing






